<div *ngIf="loading" class="loading-container">
  <mat-spinner diameter="48"></mat-spinner>
</div>

<div *ngIf="!loading">
  <div style="margin-bottom: 16px; ">
    <mat-form-field appearance="outline" style="position: relative; width: 300px;">
      <mat-label>Filter all fields</mat-label>
      <input matInput [formControl]="filterControl" placeholder="Search..." />
        <mat-progress-spinner
        *ngIf="filtering"
        diameter="20"
        mode="indeterminate"
        class="filter-spinner"
        style="position: absolute; top: 50%; right: 8px; transform: translateY(-50%);"
      ></mat-progress-spinner>
    </mat-form-field>
    <button
      mat-button
      color="primary"
      *ngIf="filterControl.value"
      (click)="clearFilter()"
    >
      Clear
    </button>
  </div>
  
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Number</th>
      <td mat-cell *matCellDef="let element" (click)="openEditDialog(element, 'position')">{{element.position}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" (click)="openEditDialog(element, 'name')">{{element.name}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element" (click)="openEditDialog(element, 'weight')">{{element.weight}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element" (click)="openEditDialog(element, 'symbol')">{{element.symbol}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>

  <div *ngIf="dataSource.filteredData.length === 0 && !loading" class="no-results">
    Ops, no matches 😕
  </div>
</div>